* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #595959;
}
header {
    background-color: white;
    position: fixed;
    top: 0%;
    box-shadow: 0 20px 20px -20px #78909c;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
header div {
    width: 40%;
    padding: 1%;
}
#logo {
    width: 10%;
}
nav {
    width: 50%;
    margin-left: 5.5%;
}
nav ul li {
    padding: 5%;
    font-family: Crimson Pro;
    font-size: 20px;
}
nav ul li a {
    color: #595959;
}
a:hover {
    color: #3fafff;  
}
#hed{
    border: 1px solid #ffd600;
  } 
.hero {
    margin-top: 10%;
}
#hero {
    width: 40%;
    padding: 12%; 
    margin-left: 30%;
}
.hero div {
    width: 50%;
}
.hero .hero-text {
    width: 40%; 
    padding-top: 5%;   
}
.hero .hero-text p {
    width: 65%;
}
h1 {
    font-family: Crimson Pro;
    font-size: 300%; 
    line-height: 80%;
    margin-bottom: 3%;
}
p {
    font-family: Roboto Mono;
}
.email {
    margin-top: 2%;
}
#email {
    font-family: Roboto Mono;
    font-size: 17px;
}
div .button {
    width: 210px;
}
.button {
    margin-top: 30%;
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    padding: 2%;
    border: 3px solid #ff9494; 
    width: 210px;  
}
.button:hover {
    box-shadow: 10px 10px #ff9494;
    transition: 0.5s;
}
#her {
    border: 1px solid #ffd600;
}
.deskimage-container {
    width: 40%;
    float: left;
    padding-left: 5%;
}
.Project-image {
    width: 100%;
}
.project-details {
    overflow: hidden;
    padding-left: 5%;
    margin-bottom: 7%;
}
.h1 {
    float: left;
    padding-left: 3.5%;
}
.p {
    overflow: hidden;
    padding-left: 20px;
    padding-top: 0.5%;
}
.section-title {
    margin: 5%;
}
div #button2 {
    width: 183px;
    margin-top: 10%;
    margin-bottom: 10px;
}
#button2:hover {
    box-shadow: 10px 10px #ff9494;
    transition: 0.5s;
}
.footer-content {
    float: left;
    padding: 5% 0% 5% 0%;
    width: 40%;
    margin-left: 25%;
    margin-right: -20%;
}
.footer-content p {
    width: 55%;
}
ul li {
    font-family: Roboto Mono;
    font-size:  16px;
    padding-right: 12px;
}
.footer-container {
    padding: 8% 5% 5% 4%;
    width: 10%;
    overflow: hidden;
}
#footer-img {
    width: 50%;
}
